@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "DM Sans", "Titan One", sans-serif;
}
@media screen and (max-width: 768px) {
  body body {
    min-width: 320px;
  }
}
@media screen and (min-width: 1280px) {
  body body {
    width: 100%;
  }
}

.container {
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 34px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 116px;
    width: 1280px;
  }
}
.hero {
  background-color: #ffb8ca;
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
}
@media screen and (min-width: 768px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 1280px) {
  .products {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}
.products__title-1 {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffb8ca;
  padding-bottom: 15px;
}
.products__title-2 {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  padding-bottom: 31px;
}
@media screen and (min-width: 768px) {
  .products__title-2 {
    padding-bottom: 39px;
  }
}
@media screen and (min-width: 1280px) {
  .products__title-2 {
    padding-bottom: 49px;
  }
}
.products-list {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.products__img {
  position: absolute;
  top: 0px;
  width: 100%;
}
.products-items {
  position: relative;
  width: 280px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 16px;
  padding-top: 160px;
}
@media screen and (min-width: 768px) {
  .products-items {
    margin-left: 20px;
    margin-right: 0;
  }
  .products-items:nth-child(1) {
    margin-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .products-items {
    margin-left: 24px;
    margin-right: 0;
  }
}
.products-items__title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: white;
  padding-bottom: 30px;
}
@media screen and (min-width: 1280px) {
  .products-items__title {
    padding-bottom: 32px;
  }
}
.products-items__dots::after {
  content: "...";
  font-family: "Titan One";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: white;
  line-height: 0;
}
.products-items__block {
  border-radius: 24px;
  padding-bottom: 43px;
  padding-top: 159px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .products-items__block {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .products-items__block {
    padding-bottom: 50px;
  }
}
.products-items__block--ice-cream {
  background-color: #ffb8ca;
}
.products-items__block--ice-coffee {
  background-color: #f0d1a5;
}
.products-items__block--milkshakes {
  background-color: #c2e297;
}
.products-items__text {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0.04em;
  color: white;
  padding-bottom: 30px;
  padding-left: 41px;
  padding-right: 39px;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .products-items__text {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .products-items__text {
    padding-bottom: 62px;
  }
}
.products__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: none;
  background-color: white;
}
.products__btn:focus, .products__btn:hover {
  background-color: #d41443;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__btn:focus .products__icon-btn, .products__btn:hover .products__icon-btn {
  fill: white;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__icon-btn {
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
  stroke-width: 0;
  fill: #d41443;
}

.section {
  color: black;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__pic {
  width: 100%;
}/*# sourceMappingURL=main.css.map */