@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "DM Sans", "Titan One", sans-serif;
}
@media screen and (max-width: 768px) {
  body body {
    min-width: 320px;
  }
}
@media screen and (min-width: 1280px) {
  body body {
    width: 100%;
  }
}

.container {
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 34px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 116px;
    width: 1280px;
  }
}
.mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6px;
}

.menu-toggle {
  min-height: 20px;
  min-width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
  color: #d41443;
  cursor: pointer;
}
.menu-toggle:hover, .menu-toggle:focus {
  color: #ffffff;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  background-color: #e17992;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.menu-container__btn {
  width: calc(100% - 20px - 20px);
  max-width: 300px;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  padding: 12px 0;
  background-color: #ffffff;
  border: none;
  border-radius: 22px;
  display: block;
  margin: auto;
}
.menu-container__btn-icon {
  margin-left: 27px;
  color: #d41443;
  fill: transparent;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 23px;
  right: 20px;
  color: #ffffff;
}

.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:focus,
.menu-container .menu-toggle:active {
  color: #d41443;
}

.mobile-menu {
  margin-top: 19px;
}
.mobile-menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: #ffffff;
  display: block;
  padding: 13px 0 13px 21px;
  border-top: solid 1px #e18298;
}
.mobile-menu__link--active {
  color: #d41443;
}
.mobile-menu__link--last {
  border-bottom: solid 1px #e18298;
}

@media screen and (min-width: 768px) {
  .menu-container {
    width: 254px;
    right: 204px;
    left: auto;
    padding-top: 87px;
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
  }
  .menu-container .menu-toggle {
    top: 53px;
  }
  .mobile-menu__link {
    padding-left: 30%;
  }
}
.wrapper {
  background-color: #ffb8ca;
}

.relative {
  position: relative;
  padding-bottom: 160px;
  overflow: hidden;
  z-index: 1;
}

.header__btn {
  display: none;
}

.hero {
  background-color: #ffb8ca;
}
.hero__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 19px;
  padding-top: 137px;
}
.hero__title--accent {
  font-size: 48px;
  color: #d41443;
  line-height: 0.95;
  display: block;
}
.hero__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.hero__list-item--tablet {
  display: none;
}
.hero__btn {
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  border: none;
  border-radius: 20px;
  padding: 7px 14px;
  display: block;
}
.hero__btn--dark {
  color: #ffffff;
  background-color: #d41443;
}
.hero__btn--light {
  color: #d41443;
  background-color: #ffffff;
}
.hero__ellipse {
  position: absolute;
  background-color: #ffa5ba;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  padding-top: 9px;
  padding-left: 81px;
  top: 27px;
  right: -62px;
  z-index: -1;
}
.hero__ice {
  width: 171px;
  height: 410px;
}
.hero__woman {
  display: none;
}
.hero__list-number {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-header {
    padding-top: 37px;
    z-index: 10;
  }
  .header__tablet-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    z-index: 20;
  }
  .header__btn {
    width: 160px;
    color: #d41443;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    padding: 12px 0;
    background-color: #ffffff;
    border: none;
    border-radius: 22px;
    display: block;
  }
  .header__btn-icon {
    margin-left: 12px;
    color: #d41443;
    fill: transparent;
  }
  .relative {
    padding-bottom: 28px;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero__title {
    padding-bottom: 20px;
    padding-top: 15px;
    font-size: 22px;
    line-height: 1.13;
  }
  .hero__title--accent {
    font-size: 34px;
    line-height: 0.91;
  }
  .hero__list-item--tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    padding-top: 19px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hero__milk {
    width: 124px;
    height: 126px;
    display: block;
  }
  .hero__milk-text {
    display: block;
    max-width: 114px;
    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;
    margin-left: -4px;
    padding-bottom: 7px;
  }
  .hero__milk-btn {
    margin-left: -4px;
    margin-bottom: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border-style: none;
    background-color: white;
  }
  .hero__milk-btn:focus, .hero__milk-btn:hover {
    background-color: #d41443;
    cursor: pointer;
  }
  .hero__milk-btn:focus .hero__milk-btn-icon, .hero__milk-btn:hover .hero__milk-btn-icon {
    fill: white;
    cursor: pointer;
  }
  .hero__milk-btn-icon {
    stroke-width: 0;
    fill: #d41443;
  }
  .hero__ellipse {
    width: 324px;
    height: 322px;
    padding-top: 32px;
    padding-left: 71px;
    top: -56px;
    right: 17.8%;
  }
  .hero__ice {
    width: 143px;
    height: 336px;
  }
  .hero__woman {
    display: block;
    width: 168px;
    height: 133px;
    position: absolute;
    bottom: 0;
    right: 34px;
  }
  .hero__list-number {
    display: block;
    padding-right: 10px;
    position: relative;
  }
  .hero__list-number::after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: 35px;
    z-index: -1;
  }
  .hero__list-number-title {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
  .hero__list-number-title--first {
    margin-top: 9px;
  }
  .hero__list-number-title--last {
    margin-top: 14px;
  }
  .hero__list-number-dsc {
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: #ffffff;
  }
}
.products {
  padding-top: 121px;
  padding-bottom: 98px;
}
@media screen and (min-width: 768px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 1280px) {
  .products {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}
.products__title-1 {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffb8ca;
  padding-bottom: 15px;
}
.products__title-2 {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  padding-bottom: 31px;
}
@media screen and (min-width: 768px) {
  .products__title-2 {
    padding-bottom: 39px;
  }
}
@media screen and (min-width: 1280px) {
  .products__title-2 {
    padding-bottom: 49px;
  }
}
.products-list {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.products__img {
  position: absolute;
  top: 0px;
  width: 100%;
}
.products-items {
  position: relative;
  width: 280px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 16px;
  padding-top: 160px;
}
@media screen and (min-width: 768px) {
  .products-items {
    margin-left: 20px;
    margin-right: 0;
  }
  .products-items:nth-child(1) {
    margin-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .products-items {
    margin-left: 24px;
    margin-right: 0;
  }
}
.products-items__title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: white;
  padding-bottom: 30px;
}
@media screen and (min-width: 1280px) {
  .products-items__title {
    padding-bottom: 32px;
  }
}
.products-items__dots::after {
  content: "...";
  font-family: "Titan One";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: white;
  line-height: 0;
}
.products-items__block {
  border-radius: 24px;
  padding-bottom: 43px;
  padding-top: 159px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .products-items__block {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .products-items__block {
    padding-bottom: 50px;
  }
}
.products-items__block--ice-cream {
  background-color: #ffb8ca;
}
.products-items__block--ice-coffee {
  background-color: #f0d1a5;
}
.products-items__block--milkshakes {
  background-color: #c2e297;
}
.products-items__text {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0.04em;
  color: white;
  padding-bottom: 30px;
  padding-left: 41px;
  padding-right: 39px;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .products-items__text {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .products-items__text {
    padding-bottom: 62px;
  }
}
.products__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: none;
  background-color: white;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__btn:focus, .products__btn:hover {
  background-color: #d41443;
  cursor: pointer;
}
.products__btn:focus .products__icon-btn, .products__btn:hover .products__icon-btn {
  fill: white;
  cursor: pointer;
}
.products__icon-btn {
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
  stroke-width: 0;
  fill: #d41443;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  color: black;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #fff5f6), color-stop(25%, #ffffff), to(#ffffff));
  background-image: linear-gradient(to bottom, #fff5f6 25%, #ffffff 25%, #ffffff 100%);
  background-size: cover;
  padding-bottom: 80px;
}
.gallery__pic {
  width: 100%;
  max-width: 767px;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding-bottom: 121px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #fff5f6), color-stop(27%, #ffffff), to(#ffffff));
    background-image: linear-gradient(to bottom, #fff5f6 27%, #ffffff 27%, #ffffff 100%);
  }
  .gallery__pic {
    min-width: 767px;
    max-width: 1279px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding-bottom: 123px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #fff5f6), color-stop(30%, #ffffff), to(#ffffff));
    background-image: linear-gradient(to bottom, #fff5f6 30%, #ffffff 30%, #ffffff 100%);
  }
  .gallery__pic {
    min-width: 1279px;
  }
}
.customer-review__carousel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0 20px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .customer-review__carousel-wrapper {
    padding: 0 74px;
  }
}
@media (min-width: 1280px) {
  .customer-review__carousel-wrapper {
    padding: 0 178px;
  }
}
.customer-review__picture {
  margin-bottom: 29px;
}
.customer-review__container {
  margin-bottom: 86px;
}
.customer-review__text-container {
  background: #fafafa;
  text-align: center;
  padding: 43px 60px 26px 60px;
}
.customer-review__text-container .icon {
  position: absolute;
  width: 54px;
  height: 40px;
  z-index: 1;
  left: -4px;
  top: -15px;
}
.customer-review__text-wrapper {
  background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 29px, #e1e1e1 29px, #e1e1e1 30px);
  position: relative;
  padding: 2px 0;
}
@media (min-width: 1280px) {
  .customer-review__text-wrapper {
    padding: 4px 0;
  }
}
.customer-review__text {
  position: relative;
  z-index: 2;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 2.55;
  color: #000000;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .customer-review__text {
    font-size: 14px;
    line-height: 2.16;
  }
}
@media (min-width: 1280px) {
  .customer-review__text {
    font-size: 14px;
    line-height: 1.86;
  }
}
.customer-review__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
  margin: 30px 0;
}
.customer-review__person-dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.customer-review__person-dots li {
  background: #c7133e;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
.customer-review__person-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .customer-review__person-text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding-bottom: 123px;
  }
}
.advantages {
  background-color: #fff5f6;
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.advantages__item {
  max-width: 230px;
  width: 100%;
  height: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 38px;
}
.advantages__item-icon-first::before {
  content: "";
  display: block;
  width: 33px;
  height: 50px;
  background-image: url(/images/advantages/icon1.png);
}
.advantages__item-icon-second::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(/images/advantages/icon2.png);
}
.advantages__item-icon-third::before {
  content: "";
  display: block;
  width: 44px;
  height: 50px;
  background-image: url(/images/advantages/icon3.png);
}
.advantages__title {
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.139;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
.advantages__text {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.667;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 60px;
    margin-left: 36px;
  }
  .advantages__item {
    height: 222px;
    max-width: 180px;
  }
  .advantages__title {
    font-size: 48px;
    margin-bottom: 13px;
    margin-top: 36px;
  }
  .advantages__text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    height: 222px;
    max-width: 330px;
  }
  .advantages__title {
    font-size: 58px;
  }
}