$contacts__white: #fff;
$contacts__category: #f0d1a5;
$contacts__black: #000;
$contacts__about: #907e82;
$contacts__pink: #ffa5ba;
$contacts__foodtruck: #c2e297;
$contacts__border: #e1e1e1;
$contacts__red: #d41342;
$contacts__shadow: rgba(212, 20, 67, 0.1);
$contacts__hover: #ECEBEB;
