<section class="advantages">
  <div class="container #advantages">
    <h2 hidden>Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__item-icon-first">
        <h4 class="advantages__title">721</h4>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item advantages__item-icon-second">
        <h4 class="advantages__title">16kg</h4>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item advantages__item-icon-third">
        <h4 class="advantages__title">84</h4>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
