<section class="contacts">
  <!-- kotwica do menu -->
  <h2 id="contacts-anchor">Contacts</h2>
  <!-- tło w kropki -->
  <img
    class="contacts__dots"
    src="images/contacts/dots@1.png"
    srcset="images/contacts/dots@1.png x1, images/contacts/dots@1.png x2"
  />
  <!-- lista kontaktów -->
  <div class="container">
    <ul class="contacts__list">
      <!-- pierwsze okienko -->
      <li class="contacts__item">
        <span class="contacts__category">Cafe</span>
        <div class="contacts__description description--border">
          <h5 class="contacts__city">Chicago</h5>
          <p class="contacts__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__description description--border">
          <h5 class="contacts__days-open">Monday - Friday</h5>
          <p class="contacts__hours-open">06:00 am - 10:00 pm</p>
          <h5 class="contacts__days-open">Saturday - Sunday</h5>
          <p class="contacts__hours-open">08:00 am - 16:00 pm</p>
        </div>
        <div class="contacts__description description--media">
          <a class="contacts__media" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contacts__media" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <!-- drugie okienko -->
      <li class="contacts__item">
        <span class="contacts__category header--foodtruck">Food truck</span>
        <div class="contacts__description description--border">
          <h5 class="contacts__city">Los Angeles</h5>
          <p class="contacts__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__description description--border">
          <h5 class="contacts__days-open">Monday - Friday</h5>
          <p class="contacts__hours-open">06:00 am - 10:00 pm</p>
          <h5 class="contacts__days-open">Saturday - Sunday</h5>
          <p class="contacts__hours-open">08:00 am - 16:00 pm</p>
        </div>
        <div class="contacts__description description--media">
          <a class="contacts__media" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contacts__media" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <!-- trzecie okienko -->
      <li class="contacts__item">
        <span class="contacts__category">Cafe</span>
        <div class="contacts__description description--border">
          <h5 class="contacts__city">New York</h5>
          <p class="contacts__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__description description--border">
          <h5 class="contacts__days-open">Monday - Friday</h5>
          <p class="contacts__hours-open">06:00 am - 10:00 pm</p>
          <h5 class="contacts__days-open">Saturday - Sunday</h5>
          <p class="contacts__hours-open">08:00 am - 16:00 pm</p>
        </div>
        <div class="contacts__description description--media">
          <a class="contacts__media" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contacts__media" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
    </ul>
    <!-- guziki -->
    <ul class="contacts__buttons">
      <button type="button" class="contacts__btn location--button">
        Our Locations
        <svg class="contacts__icon" width="3.61" height="8"> <!-- nie wiem co jest nie tak z tym svg -->
          <use href="/images/icons.svg#contacts-vector-white"></use>
        </svg>
      </button>
      <button type="button" class="contacts__btn franchise--button">
        Franchise
        <svg class="contacts__btn-icon" width="3.61" height="8"> <!-- z tym to samo -->
          <use href="/images/icons.svg#contacts-vector-red"></use>
        </svg>
      </button>
    </ul>
  </div>
</section>
