<section class="customer__container splide" aria-label="Customers Reviews">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div>
          <div class="splide__container"></div>
          <picture>
            <source
              srcset="./images/customer1.png 1x, ./images/customer1.png 2x"
              media="(max-width: 767px)" />
            <source
              srcset="./images/customer1.png 1x, ./images/customer1.png 2x"
              media="(max-width: 1199px)" />
            <source srcset="./images/customer1.png" media="(min-width: 1200px)" />
            <img
              class="customer__picture"
              alt="Emily"
              src="./images/customer1.png"
              height="85"
              width="85"
          /></picture>
          <div class="splide__container"></div>
          <svg class="icon icon-quote">
            <use xlink:href="./images/icons.svg#icon-quote"></use>
          </svg>
          <div>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </div>
        </div>
      </li>
      <li class="splide__slide">
        <div>
          <picture>
            <source
              srcset="./images/customer2.png 1x, ./images/customer2.png 2x"
              media="(max-width: 767px)" />
            <source
              srcset="./images/customer2.png 1x, ./images/customer2.png 2x"
              media="(max-width: 1199px)" />
            <source srcset="./images/customer2.png" media="(min-width: 1200px)" />
            <img alt="Ann" src="./images/customer2.png" height="85" width="85"
          /></picture>
          <svg class="icon icon-quote">
            <use xlink:href="./images/icons.svg#icon-quote"></use>
          </svg>
          <div>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </div>
        </div>
      </li>
      <li class="splide__slide">
        <div>
          <picture>
            <source
              srcset="./images/customer3.png 1x, ./images/customer3.png 2x"
              media="(max-width: 767px)" />
            <source
              srcset="./images/customer3.png 1x, ./images/customer3.png 2x"
              media="(max-width: 1199px)" />
            <source srcset="./images/customer3.png" media="(min-width: 1200px)" />
            <img alt="Kate" src="./images/customer3.png" height="85" width="85"
          /></picture>
          <svg class="icon icon-quote">
            <use xlink:href="./images/icons.svg#icon-quote"></use>
          </svg>
          <div>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
