<footer class="footer">
  <div class="container">
    <p class="footer__title-one">homemade ice cream made</p>
    <p class="footer__title-two">with passion</p>
    <ul class="footer__socialmedia-list">
      <li>
        <a class="footer__socialmedia-link" href="https://github.com/" target="_blank">
          <svg class="footer__socialmedia-github">
            <use href="images/icons.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer__socialmedia-link" href="https://telegram.org/" target="_blank">
          <svg class="footer__socialmedia-telegram">
            <use href="images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer__socialmedia-link" href="https://facebook.com/" target="_blank">
          <svg class="footer__socialmedia-facebook">
            <use href="images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__contact">
      Feel free to contact
      <a class="footer__contact--style" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
    </p>
  </div>
  <div class="footer__copyright">
    <p class="footer__copyright-text">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
