<header class="wrapper">
  <div class="container mobile-header">
    <a class="header__logo" href="index.html">
      <picture>
        <source srcset="images/hero-header/logo-desktop.png" media="(min-width: 1280px)" />
        <source srcset="images/hero-header/logo-desktop@2x.png 2x" media="(min-width: 1280px)" />
        <source srcset="images/hero-header/logo-tablet.png" media="(min-width: 768px)" />
        <source srcset="images/hero-header/logo-tablet@2x.png 2x" media="(min-width: 768px)" />
        <source srcset="images/hero-header/logo-mobile.png" media="(max-width: 767px)" />
        <source srcset="images/hero-header/logo-mobile@2x.png 2x" media="(max-width: 767px)" />
        <img class="hero__ice" src="images/hero-header/logo-desktop.png" alt="ice scream" />
      </picture>
    </a>
    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg
        width="24"
        height="24"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>
</header>

<section class="hero">
  <div class="container relative">
    <ul>
      <li>
        <h1 class="hero__title">
          ice cream <br />
          made with
          <span class="hero__title--accent">passion</span>
        </h1>
      </li>
      <li class="hero__list-item">
        <button class="hero__btn hero__btn--dark" type="button">Products</button>
        <button class="hero__btn hero__btn--light" type="button">How it's made?</button>
      </li>
    </ul>
    <div class="hero__ellipse">
      <picture>
        <source srcset="images/hero-header/ice-desktop.png" media="(min-width: 1280px)" />
        <source srcset="images/hero-header/ice-desktop@2x.png 2x" media="(min-width: 1280px)" />
        <source srcset="images/hero-header/ice-tablet.png" media="(min-width: 768px)" />
        <source srcset="images/hero-header/ice-tablet@2x.png 2x" media="(min-width: 768px)" />
        <source srcset="images/hero-header/ice-mobile.png" media="(max-width: 767px)" />
        <source srcset="images/hero-header/ice-mobile@2x.png 2x" media="(max-width: 767px)" />
        <img class="hero__ice" src="images/hero-header/ice-desktop.png" alt="ice scream" />
      </picture>
    </div>
  </div>
</section>

<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
  <button class="menu-container__btn" type="button">
    Buy now
    <svg class="menu-container__btn-icon" width="5.26" height="8">
      <use href="./images/icons.svg#buy-now-icon"></use>
    </svg>
  </button>
  <ul class="mobile-menu">
    <li><a href="index.html" class="mobile-menu__link mobile-menu__link--active">Home</a></li>
    <li><a href="#" class="mobile-menu__link">About us</a></li>
    <li><a href="#" class="mobile-menu__link">How it's made?</a></li>
    <li><a href="#" class="mobile-menu__link">Our products</a></li>
    <li><a href="#" class="mobile-menu__link mobile-menu__link--last">Contact</a></li>
  </ul>
</div>

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="js/mobile-menu.js"></script>
