<header class="wrapper"></header>

<section class="hero">
  <div class="container relative">
    <ul>
      <li>
        <h1 class="hero__title">
          ice cream <br />
          made with
          <span class="hero__title--accent">passion</span>
        </h1>
      </li>
      <li class="hero__list-item">
        <button class="hero__btn hero__btn--dark" type="button">Products</button>
        <button class="hero__btn hero__btn--light" type="button">How it's made?</button>
      </li>
    </ul>
    <div class="hero__ellipse">
      <picture>
        <source srcset="images/hero-header/ice-desktop.png" media="(min-width: 1280px)" />
        <source srcset="images/hero-header/ice-desktop@2x.png 2x" media="(min-width: 1280px)" />
        <source srcset="images/hero-header/ice-tablet.png" media="(min-width: 768px)" />
        <source srcset="images/hero-header/ice-tablet@2x.png 2x" media="(min-width: 768px)" />
        <source srcset="images/hero-header/ice-mobile.png" media="(max-width: 767px)" />
        <source srcset="images/hero-header/ice-mobile@2x.png 2x" media="(max-width: 767px)" />
        <img class="hero__ice" src="images/hero-header/ice-desktop.png" alt="ice scream" />
      </picture>
    </div>
  </div>
</section>
