<!--PRODUCTS SECTION-->

<section class="products" id="products">
  <div class="container">
    <p class="products__title-1">100% natural</p>
    <h2 class="products__title-2">products</h2>
    <ul class="products-list">
      <li class="products-items">
        <img
          class="products__img"
          src="images/products/ice-cream.png"
          srcset="images/products/ice-cream.png 1x, images/products/ice-cream2x.png 2x"
          alt="ice-cream"
        />
        <div class="products-items__block products-items__block--ice-cream">
          <h3 class="products-items__title">ice cream</h3>
          <span class="products-items__dots"></span>
          <p class="products-items__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="products__btn" type="button">
            <svg class="products__icon-btn" width="13" height="13">
                        <use href="images/icons.svg#icon-arrow-right2"></use>
                      </svg>
          </button>
        </div>
      </li>
      <li class="products-items">
        <img
          class="products__img"
          src="images/products/ice-coffee.png"
          srcset="images/products/ice-coffee.png 1x, images/products/ice-coffee2x.png 2x"
          alt="ice-coffee"
        />
        <div class="products-items__block products-items__block--ice-coffee">
          <h3 class="products-items__title">ice coffee</h3>
          <span class="products-items__dots"></span>
          <p class="products-items__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="products__btn" type="button">
           <svg class="products__icon-btn width="13" height="13">
                        <use href="images/icons.svg#icon-arrow-right2"></use>
                      </svg>
          </button>
        </div>
      </li>
      <li class="products-items">
        <img
          class="products__img"
          src="images/products/milkshakes.png"
          srcset="images/products/milkshakes.png 1x, images/products/milkshakes2x.png 2x"
          alt="ice-coffee"
        />
        <div class="products-items__block products-items__block--milkshakes">
          <h3 class="products-items__title">milkshakes</h3>
          <span class="products-items__dots"></span>
          <p class="products-items__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="products__btn" type="button">
            <svg class="products__icon-btn width="13" height="13">
                        <use href="images/icons.svg#icon-arrow-right2"></use>
                      </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
