.footer {
  background-color: #fff5f6;

  &__title-one {
    font-family: Titan One;
    text-transform: uppercase;
    color: #ffa5ba;
    font-size: 18px;
    max-width: 232px;
    padding-bottom: 17px;
  }

  &__title-two {
    font-family: Titan One;
    text-transform: uppercase;
    color: #d41443;
    font-size: 34px;
    letter-spacing: 0.04em;
    max-width: 200px;
    padding-bottom: 43px;
  }

  &__socialmedia-list {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    max-width: 152px;
    height: 32px;
  }

  &__socialmedia-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color: #fea5bb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      background: #d41443;
    }
  }

  &__socialmedia-github {
    width: 18.82px;
    height: 18.82px;
    fill: #ffffff;
  }

  &__socialmedia-telegram {
    width: 19.2px;
    height: 14.93px;
    fill: #ffffff;
  }

  &__socialmedia-facebook {
    width: 8.8px;
    height: 19.2px;
    fill: #ffffff;
  }

  &__contact {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 13px;
    text-align: right;
    padding-top: 46px;
    padding-bottom: 43px;
  }

  &__contact--style {
    list-style-type: none;
    color: #d41443;
  }

  &__copyright {
    font-family: DM Sans;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #907e82;
    border-top: 1px solid;
    padding-top: 22px;
    padding-bottom: 25px;
  }

  &__copyright-text {
    max-width: 150px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__title-one {
      font-size: 26px;
      max-width: 340px;
      letter-spacing: 0.04em;
      padding-bottom: 16px;
    }

    &__title-two {
      font-size: 48px;
      letter-spacing: 0.06em;
      max-width: 340px;
      padding-bottom: 0;
    }

    &__socialmedia-list {
      position: relative;
      bottom: 180px;
    }

    &__socialmedia-github {
      width: 20px;
      height: 20px;
    }

    &__socialmedia-telegram {
      width: 20.4px;
      height: 15.87px;
    }

    &__socialmedia-facebook {
      width: 9.35px;
      height: 20.4px;
    }

    &__contact {
      font-size: 14px;
      position: relative;
      bottom: 180px;
      padding-bottom: 0;
    }

    &__socialmedia-link {
      width: 34px;
      height: 34px;
    }

    &__copyright-text {
      max-width: 276px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    &__title-one {
      font-size: 30px;
      max-width: 472px;
      padding-bottom: 15px;
    }

    &__title-two {
      font-size: 58px;
      max-width: 474px;
      padding-bottom: 0;
    }

    &__contact {
      font-size: 16px;
    }
  }
}
