// PRODUCTS SECTION

.products {
  padding-top: 121px;
  padding-bottom: 98px;

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }

  &__title-1 {
    font-family: $title-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: $secondary-color;
    padding-bottom: 15px;
  }

  &__title-2 {
    font-family: $title-font;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primary-color;
    padding-bottom: 31px;

    @media screen and (min-width: 768px) {
      padding-bottom: 39px;
    }
    @media screen and (min-width: 1280px) {
      padding-bottom: 49px;
    }
  }

  &-list {
    list-style: none;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }

  &__img {
    position: absolute;
    top: 0px;
    width: 100%;
  }

  &-items {
    position: relative;
    width: 280px;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 16px;
    padding-top: 160px;

    @media screen and (min-width: 768px) {
      margin-left: 20px;
      margin-right: 0;
      &:nth-child(1) {
        margin-left: 0;
      }
    }

    @media screen and (min-width: 1280px) {
      margin-left: 24px;
      margin-right: 0;
    }

    &__title {
      font-family: $title-font;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $white-color;
      padding-bottom: 30px;

      @media screen and (min-width: 1280px) {
        padding-bottom: 32px;
      }
    }

    &__dots::after {
      content: '...';
      font-family: $title-font;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $white-color;
      line-height: 0;
    }

    &__block {
      border-radius: 24px;
      padding-bottom: 43px;
      padding-top: 159px;
      width: 100%;
      text-align: center;

      @media screen and (min-width: 768px) {
        padding-bottom: 40px;
      }
      @media screen and (min-width: 1280px) {
        padding-bottom: 50px;
      }

      &--ice-cream {
        background-color: $secondary-color;
      }
      &--ice-coffee {
        background-color: $coffee-color;
      }
      &--milkshakes {
        background-color: $milkshakes-color;
      }
    }

    &__text {
      font-family: $main-font;
      font-weight: 700;
      font-size: 14px;
      line-height: 152%;
      letter-spacing: 0.04em;
      color: $white-color;
      padding-bottom: 30px;
      padding-left: 41px;
      padding-right: 39px;
      padding-top: 30px;

      @media screen and (min-width: 768px) {
        padding-bottom: 40px;
      }
      @media screen and (min-width: 1280px) {
        padding-bottom: 62px;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    background-color: $white-color;

    &:focus,
    &:hover {
      background-color: $primary-color;
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus .products__icon-btn,
    &:hover .products__icon-btn {
      fill: $white-color;
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__icon-btn {
    display: inline-block;
    align-content: center;
    stroke-width: 0;
    fill: $primary-color;
  }
}
